body{
    text-align: center;
}
.product-Container{
    display: flex;
    flex-wrap: wrap;
}
.product-Container Link{
    margin: 10px;
    width: 300px;
    box-shadow: 0 0 10px #efefef;
}
.product-Container div:Link{
    background-color: lightblue;
}
.singleItem{
    background-color: #efefef;
    margin: 0 auto;
    width: 50%;
    padding: 3%;
    box-shadow: 0 0 10px rgb(248, 2, 248);
}
.mrgnhorizontal{
    margin: 0 25px;
}
.mrgnBtm{
    margin-top: 30px;
}
.pdngarund{
    padding: 0 10px;
}